<div class="form-selector" #currentElement>
  <div [ngClass]="state">
    <h1>{{title}}</h1>
    <h3 *ngIf="subtitle && state !== 'completed'">{{subtitle}}</h3>

    <div *ngIf="required === false && state !== 'completed'">
      <mat-checkbox
        class="checkbox skip"
        [checked]="checkboxChecked"
        [disabled]="state === 'disabled'"
        (change)="onSkipCheckboxChecked($event)">
        {{checkboxText}}
      </mat-checkbox>
    </div>

    <div class="step-active" *ngIf="state !== 'completed'">
      <mat-form-field class="example-full-width">
        <mat-label>Tú eliges! </mat-label>
        <mat-select
          class="select"
          [(value)]="selected"
          (selectionChange)="completeStep()"
          [disabled]="state === 'disabled'">
          <mat-option *ngFor="let item of listItems" value="{{item.name}}">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="price">
        <mat-form-field class="field-price">
          <mat-label>Precio (opcional)</mat-label>
          <mat-select
            class="select"
            [(value)]="price"
            (selectionChange)="completeStep()"
            [disabled]="state === 'disabled'">
            <mat-option *ngFor="let item of secondaryListItems" value="{{item}}">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox
          class="checkbox-price"
          [checked]="priceCheckboxChecked"
          (change)="onPriceCheckboxChecked($event)"
          [disabled]="state === 'disabled'">
          ¡No importa el precio!
        </mat-checkbox>
      </div>
    </div>

    <div *ngIf="state === 'completed'" class="step-completed">
      <span>{{summary.selected}}</span>
      <span *ngIf="price !== undefined" class="price-summary">{{price}}</span>
      <a class="edit" (click)="editField()">Editar</a>
    </div>

  </div>
  <div *ngIf="state === 'completed'"><hr></div>
</div>

