h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
}

mat-slide-toggle {
  margin-bottom: 10px;
}

.location-options {
  margin-top: 30px;
  width: 60%;
  font-size: 1.2em;
  font-family: "Raleway Medium";
}

.completed {
  font-size: 1.2em;
  font-family: "Raleway Medium";
}

a {
  color: #7862DA !important;
  text-shadow: 1px 1px 1px #000000;
  cursor: pointer;
}

.link-disabled {
  pointer-events: none;
}

.completed span {
  color: #000;
}

.disabled {
  opacity: 0.3;
}

.active {
  opacity: 1;
}


