<div class="col-lg-12" [ngClass]="state">
  <h1>{{title}}</h1>
  <div class="location-options" *ngIf="state !== 'completed'">
    <mat-slide-toggle
      [disabled]="state === 'disabled'"
      (change)="onToggleMyLocation($event)">
      Desde mi ubicación
    </mat-slide-toggle>
    <a class="edit" (click)="onSelectOtherPoint()">Desde otro punto</a>
  </div>
  <div *ngIf="state === 'completed'">
    <span>{{location}}</span><br><br>
    <a class="edit" (click)="editField()">Editar</a>
  </div>
</div>
