<h1 mat-dialog-title>Selecciona un punto de partida</h1>
<div mat-dialog-content>
  <div class="row" id="map"></div>
</div>
<div class="actions" mat-dialog-actions>
  <div *ngIf="!isElementSelected && okPressed" class="actions-left">
    ¡No has seleccionado ningún lugar en el mapa!
  </div>
  <div class="actions-right">
    <button mat-raised-button (click)="close()">Volver</button>
    <button
      (click)="closePassingLocation()"
      mat-raised-button
      [ngClass]="!isElementSelected ? 'disabled' : 'buttonOk'"
      >Ok</button>
  </div>
</div>

