
h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  margin-left: 10px;
}

.mat-dialog-content {
  margin: 0;
  max-height: auto;
  max-width: auto;
  overflow: hidden;
}

.actions {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}

#map {
  width: 100%;
  height: 400px;
}

#buttonOk {
  background-color: #7862DA;
  color: white;
}

.completed a {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
}
