.example-fill-remaining-space {
  flex: 1 1 auto;
}

.toolbar {
  font-family: "Raleway Bold";
  background-color: white;
  position: fixed;
  z-index: 10;
  font-size: 13px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.title {
  font-family: "Raleway Bold";
  font-size: 20px;
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  text-decoration: none;
}

.toolbar span {
  color: #7862DA;
}

.about-button {
  margin-right: 35px;
}

.register-button {
  cursor: pointer;
  padding: 10px;
  background-color: rgb(255, 202, 57);
  color: white;
  border: 2px solid rgb(255, 202, 57);
  border-radius: 2px;
}

.register-button:hover {
  border: solid 2px #7862DA;
  color: rgb(84, 54, 218)
}

.login-button {
  padding: 10px;
  margin-right: 25px;
  border-radius: 2px;
  border: 2px solid  #7862DA;
}
