.container-fluid {
  background-color: #5874D9;
  background-image: linear-gradient(to right, #5874D9, rgb(145, 161, 219));
  color: white;
  height: 100%;
  padding-top: 100px;
}

.big-title {
  font-size: 80px;
  line-height: 80px;
}

.create-itinerary-button {
  background-color: rgb(255, 202, 57);
  color: #5874D9;
  padding: 10px 20px;
}

h1 {
  font-family: "Raleway Bold";
}
