<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="start-itinerary-container col-lg-5 col-md-8 col-xs-12">
      <h1 class="big-title">¿No sabes qué hacer hoy?</h1>
      <h1>¡Tu mejor plan ahora es TodoToday!</h1>
      <h2>Diseña tu propio itinerario y pasa un día irrepetible en tu ciudad</h2>
      <br>
      <button mat-raised-button class="create-itinerary-button" (click)="navigateToCreateItinerary()">Empieza ahora</button>
    </div>
    <div class="col-lg-1"></div>
    <div class="start-itinerary-container col-lg-2">
      <img src="../../../assets/images/city.png">
    </div>
  </div>
</div>
