h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
}

h3, mat-checkbox{
  font-family: "Raleway Medium";
  color: #000;
  font-size: 1.2em;
}

.place-card {
  font-family: "Raleway Medium";
}

.place-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.form-container {
  padding: 20px;
  height: 100vh;
}

.form-container .field {
  padding-bottom: 45px;
}

mat-form-field {
  font-size: 1.1em;
  width: 70%;
  font-family: "Raleway Medium";
}

.big-title {
  font-family: "Raleway Bold";
  padding: 20px 0 60px 0;
  font-size: 3em;
  text-align: center;
}

.button-create {
  width: 100%;
  padding: 30px 0px 10px 0px;
}

.button-create button {
  margin-left: 30%;
  background-color: #7862DA;
  font-size: 1.2em;
  padding: 5px 25px 5px 25px;
}
