<div class="row">
  <div class="col-lg-3 col-md-2"></div>
  <div class="container-fluid col-lg-6 col-md-8 col-xs-12">
    <div class="form-container">
      <h1 class="big-title">Crea tu propio itinerario</h1>
        <div class="row field">
          <div class="col-lg-12">
            <h1>1. ¿Qué te apetece hacer hoy?</h1>
            <mat-form-field>
              <mat-label>Tú eliges! </mat-label>
              <mat-select (selectionChange)="onFirstCategoryChanges($event.value)" required>
                <mat-option *ngFor="let category of firstOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row field">
          <div class="col-lg-12">
            <h1>2. ¿Te gustaría hacer alguna otra cosa?</h1>
            <h3>¡El día es muy largo! ¿Por qué no exprimirlo al máximo?</h3>
            <mat-form-field>
              <mat-label>Tú eliges! (opcional)</mat-label>
              <mat-select (selectionChange)="onSecondCategoryChanges($event.value)">
                <mat-option *ngFor="let category of secondOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row field">
          <div class="col-lg-12">
            <h1>3. ¿Qué te apetece comer?</h1>
            <mat-form-field>
              <mat-label>Selecciona un tipo de comida</mat-label>
              <mat-select (selectionChange)="($event.value)">
                <mat-option *ngFor="let category of secondOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox>Gracias, pero esta vez no pararé a comer</mat-checkbox>
          </div>
        </div>
        <div class="row field">
          <div class="col-lg-12">
            <h1>4. ¿Qué te apetece cenar?</h1>
            <mat-form-field>
              <mat-label>Selecciona un tipo de comida</mat-label>
              <mat-select (selectionChange)="($event.value)">
                <mat-option *ngFor="let category of secondOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox>Gracias, pero esta vez no pararé a cenar</mat-checkbox>
          </div>
        </div>
      </div>

      <div class="button-create">
        <button mat-raised-button color="primary" (click)="createItinerary()">Crear itinerario</button>
      </div>
      <hr>
      <div *ngIf="places" class="results-container">
        <h1 class="big-title">Esto es lo que te proponemos</h1>
        <div *ngFor="let place of places" value="place" class="row col-lg-10">
          <div class="col-lg-4">
            <img class="place-img" src="../../../assets/images/default.png">
          </div>
          <div class="place-card col-lg-8">
            <h2>{{place.title}}</h2>
            <p>{{place.description}}</p>
            <p>¿Dónde?: {{place.location}}</p>
            <p>Precio por persona: {{place.price_per_person}} euros</p>
            <p>Fecha inicio: {{place.dateStart}}</p>
            <p>Fecha fin: {{place.dateEnd}}</p>
            <hr>
          </div>
        </div>
      </div>
    <app-map *ngIf="places" [places]="places"></app-map>
  </div>
  <div class="col-lg-3 col-md-2"></div>
</div>
