<div class="row">
  <div class="col-lg-3 col-md-2"></div>
  <div class="container-fluid col-lg-6 col-md-8 col-xs-12">
    <div class="form-container">
      <h1 class="big-title">Crea tu propio itinerario</h1>
      <div class="categories-container">
        <div class="row">
          <div class="col-lg-6">
            <h3>1. ¿Qué te apetece hacer hoy?</h3>
            <mat-form-field>
              <mat-label>Tú eliges! </mat-label>
              <mat-select (selectionChange)="onFirstCategoryChanges($event.value)" required>
                <mat-option *ngFor="let category of firstOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <h3>2. ¿Te gustaría hacer alguna otra cosa?</h3>
            <mat-form-field>
              <mat-label>Tú eliges </mat-label>
              <mat-select (selectionChange)="onSecondCategoryChanges($event.value)">
                <mat-option *ngFor="let category of secondOptionCategories" value="{{category.name}}">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="button-create">
        <button mat-raised-button color="primary" (click)="createItinerary()">Crear itinerario</button>
      </div>
      <hr>
      <div class="results-container">
        <h1>Esto es lo que te proponemos: </h1>
        <div *ngFor="let place of places" value="place">
          {{place.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-2"></div>
</div>
