h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  width: 100%;
}

h3 {
  font-family: "Raleway Medium";
  color: #000;
  font-size: 1.2em;
}

.place-card {
  font-family: "Raleway Medium";
}

.place-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.form-container {
  padding: 20px;
  margin-top: 64px;
}

.form-container .field {
  padding-bottom: 45px;
}

.big-title {
  font-family: "Raleway Bold";
  padding: 20px 0 60px 0;
  font-size: 3em;
  text-align: center;
}

.button-create {
  width: 100%;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.button-create button {
  background-color: #7862DA;
  font-size: 1.2em;
  padding: 5px 25px 5px 25px;
}

.results-container {
  padding-top: 100px;
}

.button-create h3 {
  color: red;
  margin-right: 40px;
}

.options {
  padding: 10px 0 10px 0;
  margin: 15px;
  display: inline-flex;
  position: relative;
  text-align: center;
  background:#FFF;
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 35px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 35px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 35px rgba(0, 0, 0, 0.1) inset;
}

.options:before, .options:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.8);
    box-shadow:0 0 15px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:7px;
    right:7px;
    -moz-border-radius:75px / 7px;
    border-radius:75px / 7px;
}
.options:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.option-places {
  text-align: left;
  padding: 0;
  font-size: 1.2em;
  font-family: "Raleway Medium";
}

.option-places h3 {
  margin-right: 3em;
}

.option-buttons {
  margin-top: 30px;
  padding-left: 5px;
  max-width: 45%;
}

.option-buttons button {
  margin-top: 1em;
}

.option-places ul {
  padding-left: 20px;
  line-height: 35px;
}

.option-buttons:nth-child(1) {
  color: red;
}



