h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  width: 100%;
}

.background {
  background-color: #7862DA;
  background-image: linear-gradient(to right, #7862DA, rgb(145, 161, 219));
}

h3 {
  font-family: "Raleway Medium";
  color: #000;
  font-size: 1.2em;
}

.place-card {
  font-family: "Raleway Medium";
}

.place-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.main-block {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.form-container {
  padding: 20px 30px 20px 30px;
  margin: 64px 10px 0 10px;
}

.form-container .field {
  padding-bottom: 45px;
}

.big-title {
  font-family: "Raleway Bold";
  padding: 20px 0 60px 0;
  font-size: 3em;
  text-align: center;
}

.button-create {
  width: 100%;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.button-create button {
  background-color: #7862DA;
  font-size: 1.2em;
  padding: 5px 25px 5px 25px;
}

.results-container {
  padding-top: 100px;
}

.button-create h3 {
  color: red;
  margin-right: 40px;
}

#map {
  width: auto;
  height: 500px;
}

app-form-selector, app-form-date {
  width: 100%;
}


