<div class="row">
  <div class="background col-lg-3 col-md-1"></div>
  <div class="col-lg-6 col-md-10 col-xs-12">
    <form (ngSubmit)="createItinerary()" class="form-container">
      <h1 class="big-title">Crea tu propio itinerario</h1>
        <div class="row field">
          <app-form-date
            [title]="dateTitle"
            [state]="fieldStates[0]"
            (dateChange)="dateSelected = $event; fieldStates[1] = 'active'"
          ></app-form-date>
        </div>
        <div class="row field">
          <app-form-selector
            id="firstCategory"
            [title]="firstCategoryTitle"
            [subtitle]="firstCategorySubtitle"
            [listItems]="firstOptionCategories"
            [selected]="firstCategorySelected"
            (selectedChange)="firstCategorySelected = $event; onFirstCategoryChanges($event)"
            [state]="fieldStates[1]"
            [required]="true"
            [secondaryListItems]="priceItems">
          </app-form-selector>
        </div>
        <div class="row field">
          <app-form-selector
            id="secondCategorySelector"
            [title]="secondCategoryTitle"
            [subtitle]="secondCategorySubtitle"
            [listItems]="secondOptionCategories"
            [state]="fieldStates[2]"
            [required]="false"
            [checkboxText]="'Saltar este paso'"
            [selected]="secondCategorySelected"
            (selectedChange)="secondCategorySelected = $event; onSecondCategoryChanges($event)"
            [secondaryListItems]="priceItems">
          </app-form-selector>
        </div>
        <div class="row field">
          <app-form-selector
            [title]="lunchCategoryTitle"
            [listItems]="lunchFoodCategories"
            [state]="fieldStates[3]"
            [required]="false"
            [checkboxText]="'Esta vez no pararé a comer'"
            [selected]="lunchCategorySelected"
            (selectedChange)="lunchCategorySelected = $event; fieldStates[4] = 'active'"
            [secondaryListItems]="secondaryListItems">
          </app-form-selector>
        </div>
        <div class="row field">
          <app-form-selector
            [title]="dinnerCategoryTitle"
            [listItems]="dinnerFoodCategories"
            [state]="fieldStates[4]"
            [required]="false"
            [checkboxText]="'Esta vez no pararé a cenar'"
            [selected]="dinnerCategorySelected"
            (selectedChange)="dinnerCategorySelected = $event; fieldStates[5] = 'active'"
            [secondaryListItems]="secondaryListItems">
          </app-form-selector>
        </div>
        <div class="row field">
          <app-form-location
            [title]="locationTitle"
            [state]="fieldStates[5]"
            (userLocationChange)="onUserLocationChanged($event)">
          </app-form-location>
        </div>
        <div class="button-create">
          <h3 *ngIf="areAllFieldsFilled()">Por favor, rellena todos los campos</h3>
          <button type="submit" [disabled]="areAllFieldsFilled()" mat-raised-button color="primary">Continuar</button>
        </div>
    </form>
    <hr>
  </div>
  <div class="background col-lg-3 col-md-1"></div>
</div>
