
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// NOTE: From `2.0.0-beta.10`, you can now pass the typography via the mat-core() mixin:
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Raleway Medium'
);
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$todo-today-primary: mat-palette($mat-indigo);
$todo-today-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$todo-today-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$todo-today-theme: mat-light-theme($todo-today-primary, $todo-today-accent, $todo-today-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($todo-today-theme);

