.main-container {
  background-color: #7862DA;
  background-image: linear-gradient(to left, #7862DA, rgb(145, 161, 219));
  height: 100%;
  padding-top: 164px;
}

.main-container {
  padding-top: 100px;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 15px;
}

h2 {
  text-align: center;
}

.form-container {
  background-color: white;
  padding: 30px 50px 30px 50px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  max-height: 700px;
  overflow-y: auto;
}

h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
  font-size: 22pt;
}

mat-form-field {
  margin: 20px 30px 0 30px;
  width: 100%;
  font-size: 14pt;
}

.short {
  width: 400px;
}

.datepicker {
  margin-top: 36px;
}

.form-section {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  min-width: 400px;
}

.button-submit {
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  text-align: center;
}

.button-submit button {
  min-width: 300px;
  height: 40px;
  font-size: 14pt;
  color: #7862DA;
  background-color: rgb(255, 202, 57);
  border: 2px solid #7862DA;
}
