.main-container {
  background-color: #7862DA;
  background-image: linear-gradient(to left, #7862DA, rgb(145, 161, 219));
  height: 100%;
  padding-top: 100px;
}

img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 15px;
}

h2 {
  text-align: center;
}

.form-container {
  background-color: white;
  padding: 30px 50px 30px 50px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  max-height: 700px;
  min-width: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-family: "Raleway Medium";
  color: #7862DA;
  text-shadow: 1px 1px 1px #000000;
  text-align: center;
  font-size: 22pt;
}

mat-form-field {
  margin: 0 30px 0 30px;
  width: 100%;
  font-size: 14pt;
}

mat-error {
  font-size: 10pt;
}

.short {
  width: 400px;
}

.datepicker {
  margin-top: 17px;
}

.main-block {
  display: inline-flex;
  width: 100%;
}

.main-block .form-section {
  display: inline-flex;
  flex-direction: column;
  min-width: 300px;
}

.main-block .form-section mat-form-field {
  width: auto;
  margin-top: 0;
  margin-left: 16%;
}

.form-section {
  width: 100%;
  display: inline-flex;
  min-width: 400px;
}

.button-submit {
  min-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  text-align: center;
}

.button-submit button {
  min-width: 300px;
  height: 50px;
  font-size: 15pt;
  color: #7862DA;
  background-color: rgb(255, 202, 57);
  border: 2px solid #7862DA;
}

.userImg img {
  border-radius: 50%;
  cursor: pointer;
  width: 180px;
  height: 180px;
  display: block;
  margin-left: 45px;
  margin-right: 0;
  margin-top: 10px;
  border: 2px solid #7862DA;
  object-fit: cover;
}

.userImg span {
  text-align: center;
}
